!! URxvt Setting
URxvt*.depth: 32
URxvt*.scrollBar: false

URxvt*.font: -xos4-terminus-medium-r-normal--18-180-72-72-c-100-iso8859-1
!!URxvt*.font: -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso8859-1
!!URxvt*.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso8859-1
!!URxvt*.font: -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso8859-1
!!URxvt*.font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso8859-1
!!URxvt*.font: -windows-proggyclean-medium-r-normal--13-80-96-96-c-70-iso8859-1

!! Disable hinting?
!Xft.antialias: false
!Xft.hinting: false

!! Disable that stupid ctrl-shift combo in urxvt
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Solarized 16-color scheme (I hope) 
URxvt*background: [85]#002b36
*foreground: #839496
 
!! black dark/light
*color0: #073642
*color8: #002b36
 
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
 
!! green dark/light
*color2: #859900
*color10: #586e75
 
!! yellow dark/light
*color3: #b58900
*color11: #657b83
 
!! blue dark/light
*color4: #268bd2
*color12: #839496
 
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
 
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
 
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
